<div class="content fade-in">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" data-bind="$route"><img class="logo" src="images/footwork-logo.svg"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a data-bind="$route: { parentHasState: true }" href="/">Home</a></li>
      <li><a data-bind="$route: { parentHasState: true }" href="/r/javascript">/r/javascript</a></li>
      <li><a data-bind="$route: { parentHasState: true }" href="/r/programming">/r/programming</a></li>
    </ul>
    <div class="navbar-text sub-reddit" data-bind="text: subreddit"></div>
  </nav>
</div>
